%tr
  %td= object.name
  %td= object.email
  %td= link_to fa_icon('eye'), object, class: 'table_icon'
  %td= link_to fa_icon('trash'), object, method: :delete, data: { confirm: 'Are you sure you wish to delete?' }, class: 'table_icon delete_icon'
