#page_information
  %h1 Enquiry
  %p.explainer received #{time_ago_in_words @object.created_at} ago

.panel
  #enquiry_display
    .enquiry_field
      = label_tag :Name
      %br
      %p= @object.name

    .enquiry_field
      = label_tag :Email
      %br
      %p= @object.email

    .enquiry_field
      = label_tag :Message
      %br
      = simple_format @object.body
