#form_page
  = form_for @object do |f|

    #upper_form
      %span= @object.key
      .title_field
      .right_form_buttons
        = f.submit

    #main_form

      .field
        = f.label :value
        = f.send(@object.form_helper, :value)

