%tr
  %td= object.key.titleize
  %td= object.key
  %td
    - if object.type == :image
      = image_tag object.value
    - else
      = object.value
  %td= link_to fa_icon('edit'), [:edit, object], class: 'table_icon'
  %td= link_to_delete fa_icon('reply'), object, class: 'table_icon delete_icon'
