/
/  JUST AN EMPTY PARTIAL FOR THE NAVIGATION
/  USE THIS TEMPLATE IN THE FOLDERS TO ADD NAVIGATION LINKS
/
/
/

= link_to 'All Services', services_path
.right_buttons
  = link_to '+ Create Service', new_service_path