#form_page
  = form_for @object do |f|
    = f.error_messages

    #upper_form
      .right_form_buttons
        = f.submit
        = link_to_delete 'Delete', @object, class: 'minor_form_button' unless @object.new_record?

    #main_form

      .tabs_container
        = tab_controller :content, true

        .tab_heads_container
          = tab_head :content

        .tab_panels_container
          = tab :content do
            .field
              = f.label :quote
              = f.text_area :quote
            .field
              = f.label :author
              = f.text_field :author
            .field
              = f.label :project_id
              = f.select :project_id, Cd2Cms::Project.pluck(:name, :id), prompt: '--project--'


    #lower_form
      .right_form_buttons
        = f.submit
        = link_to_delete 'Delete', @object, class: 'minor_form_button' unless @object.new_record?






