%tr
  %td= object.quote.truncate(100)
  %td= object.author
  %td= link_to fa_icon('edit'), [:edit, object], class: 'table_icon'
  %td= link_to_delete fa_icon('trash'), object, class: 'table_icon delete_icon'
