#form_page
  = form_for @object do |f|
    = f.error_messages
    #upper_form

      .right_form_buttons
        = f.submit
        = link_to_delete 'Delete', @object, class: 'delete_button' unless @object.new_record? || @object==current_user || @object.cd2admin?
    #main_form
      #tabs_form_panel
        .tabs_container
          = tab_controller :details, true

          .tab_heads_container
            = tab_head :details

          .tab_panels_container
            = tab :publish do
              .field
                = f.label :name
                = f.text_field :name
              .field
                = f.label :email
                = f.text_field :email
              .field
                = f.label :password
                = f.password_field :password
            

    #lower_form
      .right_form_buttons
        = f.submit
        = link_to_delete 'Delete', @object, class: 'delete_button' unless @object.new_record? || @object==current_user || @object.cd2admin?








