%tr
  %td= object.name
  %td= object.email
  %td= link_to fa_icon('edit'), [:edit, object], class: 'table_icon'
  %td= link_to_delete fa_icon('trash'), object, class: 'table_icon delete_icon' unless object==current_user || object.cd2admin?
