.field
  = f.label :layout
  = f.text_field :layout

= f.fields_for :page_info do |ff|
  .field
    = ff.label :home_page
    = ff.check_box :home_page
  .field
    = ff.label :protected
    = ff.check_box :protected
