#form_page
  = form_for @object do |f|
    = f.error_messages

    #upper_form
      .title_field
        = f.text_field :name, placeholder: 'Page name'
      .right_form_buttons.full_form
        = f.submit
        = link_to_delete 'Delete', @object, class: 'minor_form_button' unless @object.new_record?

    #main_form

      #tabs_form_panel
        .tabs_container
          = tab_controller :content, true
          = tab_controller :metadata
          = tab_controller :media
          = tab_controller :publish
          - if is_cd2admin?
            = tab_controller :admin

          .tab_heads_container
            = tab_head :content
            = tab_head :metadata
            = tab_head :media
            = tab_head :publish
            - if is_cd2admin?
              = tab_head :admin

          .tab_panels_container
            = tab :content do

              .field
                = f.label :body
                = f.text_area :body, class: 'ckeditor'
              .field
                = f.label :in_menu
                = f.check_box :in_menu

            = render 'extra_fields', f: f
            = tab :metadata do
              = render 'page_info_fields', f: f
            = tab :media do
              = render 'imageable_fields', f: f
            = tab :publish do
              .field
                = f.label :published
                = f.check_box :published

            - if is_cd2admin?
              = tab :admin do
                = render 'admin_fields', f: f


    #lower_form
      .right_form_buttons
        = f.submit
        = link_to_delete 'Delete', @object, class: 'minor_form_button' unless @object.new_record?








