%tr{id: "page_#{object.id}"}
  - if @sortable
    %td.sort_handle= fa_icon('ellipsis-v')
  %td= object.name
  %td= object.created_at.strftime('%D')
  %td= object.published ? 'Yes' : 'No'
  %td= link_to fa_icon('edit'), [:edit, object], class: 'table_icon'
  %td= link_to_delete fa_icon('trash'), object, class: 'table_icon delete_icon'
