!!!
%html
  %head
    %title= Cd2Cms::Setting.get(:site_name)
    = stylesheet_link_tag    "cd2_cms/application", media: "all"
    -#= javascript_include_tag Ckeditor.cdn_url
    = javascript_include_tag "cd2_cms/application"
    = csrf_meta_tags
    <script src="//cdn.ckeditor.com/4.6.1/full/ckeditor.js"></script>
  %body
    #title_bar
      .app_logo
      - if signed_in?
        .user
          = "Signed in as #{current_user.name} - "
          = link_to 'Log out', cd2_cms.destroy_user_session_path, method: :delete

    #page_wrapper

      #sidebar
        / = link_to image_tag('c/logo.png'), c.root_url, class: 'admin_logo_link'
        = render 'side_menu'
      #page

        #nav_bar
          .navigation_crumbs
            %span You are here:

          .right_buttons
            = render 'navigation_bar'
        #page_inner
          #main_panel
            = render 'notification'
            = yield
          #quick_edit_panel
    :javascript
      $('.ckeditor').each( function () {
        CKEDITOR.replace( this.id, {
          customConfig: "#{asset_path('c/ckeditor/config.js')}"
        } );
      });