!!!
%html
  %head
    %title= "#{Cd2Cms::Setting.get(:site_name)} | Sign in"
    = stylesheet_link_tag    "cd2_cms/application", media: "all"
    = javascript_include_tag "cd2_cms/application"
    = csrf_meta_tags
  %body.devise_form_page
    #login_page_wrapper
      = render 'notification'
      #login_page_form
        = yield

