@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro'
  
body
  font-family: "Source Sans Pro", Sans-Serif
  font-size: 87.5%
  -webkit-font-smoothing: antialiased

a
  color: $primary_color
  text-decoration: none
  a:hover
    text-decoration: underline
img
  max-width: 100%

.hidden
  display: none

h1, h2, h3, h4, h5, h6, p, li
  color: $primary_text_color

p
  line-height: 1.5rem
