.f_table
  display: table
  position: relative
  .f_thead
    display: table-header-group
  .f_tbody
    display: table-row-group
  .f_tr
    display: table-row
  .f_th, .f_td
    display: table-cell


  .f_dropdown_container
    position: relative
    transition: 0.3s height

  .f_dropdown_container_inner
    position: absolute
    overflow: hidden
    transition: 0.3s height

  .f_dropdown_column
    display: inline-block
    width: 100%

  .f_dropdown_closed
    height: 0!important
    >.f_dropdown_container_inner
      height: 0!important

table
  width: 100%
