input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select,
.chosen-container-single .chosen-single
  box-sizing: border-box
  position: relative
  background-color: #fff
  padding: 11px
  line-height: 22px
  height: 40px
  width: 100%
  color: #3e3e3e
  border: 1px solid #dcdee3
  margin-bottom: 10px
  font-size: 0.875rem
  border-radius: 2px
  transition: border 0.3s
  cursor: pointer
  &.error
    border: 1px solid $error
  &:focus
    outline: none
    border: 1px solid $primary_color

.chosen-container-single .chosen-single
  border-radius: 0

textarea
  height: auto
  resize: vertical

label
  font-weight: 600
  font-size: 12px
  line-height: 1.3rem
  color: #8a8a8a
  text-transform: uppercase
  &.error
    color: $error

input[type="submit"], .minor_form_button
  background-color: $primary_color
  font-size: 0.75rem
  display: inline-block
  color: white
  text-transform: uppercase
  vertical-align: middle
  padding: 0 10px
  line-height: 34px
  border-radius: 3px
  text-align: center
  font-weight: 600
  border: 3px solid $primary_color
  box-sizing: border-box
  &[disabled="disabled"]
    opacity: 0.6

.minor_form_button
  color: $primary_color
  border: 3px solid $primary_color
  box-sizing: border-box
  background-color: white

.field_description
  font-size: 0.8rem
  font-style: italic
  position: relative
  bottom: 3px
  margin-bottom: 10px

#admin_form
  box-shadow: 0 2px 10px rgba(0,0,0,0.23)
  width: 100%
  box-sizing: border-box
  padding: 30px
  background: white
  &.narrow_form
    max-width: 550px

.secondary_form_link
  float: right
  color: #666
  font-size: 0.875rem

.checked_toggle_hide:checked ~ .field
  display: none

.checked_toggle_hide ~ .field
  display: block

.colorpicker
  width: 60px
  height: 60px

.split_form
  +flexbox

.split_form_left
  +flex(2)
  padding-right: 15px

.split_form_right
  +flex(1)
  padding-left: 15px
  img
    width: 120px

#login_form
  width: 100%
  padding: 20px
  box-sizing: border-box
  background: white
  border-radius: 5px
  box-shadow: 0 2px 10px rgba(0,0,0,0.23)
  max-width: 600px
  margin: 40px auto

  h1
    margin-top: 0
    font-size: 1.5rem
    color: $primary_color

.inline_field
  width: 50%
  display: inline-block
  vertical-align: middle

.inline_field.textarea_inline
  height: 50px

.inline_field + .actions
  display: inline-block
  vertical-align: middle

.inline_field.textarea_inline + .actions
  vertical-align: top

.actions
  margin-bottom: 10px

td input[type="text"]
  height: 36px
  margin: 0
  background-color: #FFF
  border: 1px solid #bbb

.table_form
  padding: 0
  .even_split_container
    margin: 0 1px
  input, .cancel_button
    height: 36px
    line-height: 36px
    border: 1px solid #bbb!important
    width: 100%

.cancel_button
  border: 0
  background-color: #383838
  font-size: 0.75rem
  display: inline-block
  color: white
  text-transform: uppercase
  letter-spacing: 1px
  text-align: center
  box-sizing: border-box
  padding: 8px
  float: right

.compact_form, .inline_field, .inline_field + .actions
  input
    height: 30px
    line-height: 30px
    margin-bottom: 0
    &[type="submit"]
      font-size: 0.8rem
      letter-spacing: 0

.form_with_text span
  display: block
  margin-bottom: 15px
  font-size: 0.875rem

.check_box_field
  margin-bottom: 10px

.field_group
  margin-bottom: 30px
  border: 1px solid #ddd
  padding: 20px
  box-sizing: border-box
  h2
    font-size: 1.25rem
    text-transform: uppercase
    color: $primary_color

.input_cell
  padding: 0
  height: 35px
  border: 2px solid #ABABAB
  input[type="text"]
    display: block
    border: 0

.field_with_errors
  input
    border: 1px solid $error!important

input[type=checkbox]
  background: white
  border: 1px solid #bbb
  padding: 3px
  -webkit-appearance: initial
  height: 15px
  width: 15px
  box-sizing: border-box
  vertical-align: middle
  border-radius: 2px
  outline: none
  margin: 4px 0
  cursor: pointer

  &:checked
    border: 1px solid $primary_color
    &:after
      content: '\f00c'
      font-family: FontAwesome
      color: $dark_primary_color
      margin-top: -4px
      margin-left: -3px
      display: block
      font-size: 14px
      -webkit-text-stroke: 1px white
      position: absolute
      height: 0
      width: 0

  + label
    margin-left: 5px
label ~ input[type=checkbox]
  margin-left: 5px

ul.form_errors
  padding: 20px
  margin: 0 0 20px
  border: 1px solid $error
  color: $error
  background-color: white
  border-radius: 3px
  h4
    margin: 0 0 10px
  li
    list-style: none
  h4, li
    color: $error

#form_page
  margin: 0 auto

.title_field
  width: 60%
  position: absolute
  input
    font-size: 20px
    color: black
    padding: 11px 7px
    border: none
    border-bottom: 1px solid #ccc

.right_form_buttons
  position: absolute
  right: 0

div#upper_form, div#lower_form
  height: 50px
  position: relative
  padding: 20px 0 10px

#quick_edit_panel
  .full_form
    display: none
  .title_field
    width: 100%

#main_form
  background-color: #fff
  border: 1px solid #d1d5d7
  border-radius: 3px
  min-height: 500px
  &.two_panel_form
    +flexbox
  &.single_form
    padding: 16px
  #summary_form_panel
    width: 300px
    min-width: 200px
    max-width: 300px
    +flex(1)
    border-right: 1px solid #d1d5d7
    min-height: 498px
    padding: 16px
    box-sizing: border-box
  #tabs_form_panel
    +flex(2)

.summary_title
  border-bottom: 1px solid #d1d5d7
  margin-bottom: 24px
  padding: 12px 4px 20px
  h3
    margin: 0
    font-weight: 400

.address_card
  display: inline-block
  border: 1px solid #d1d5d7
  padding: 10px 20px
  border-radius: 3px
  p
    margin: 0


.fields
  +flexbox
  .field
    &.field--grow
      +flex-grow(1)
    &.field--shrink
      +flex-shrink(1)
    &.field--2
      +flex(50)

.length_count_wrapper
  > div
    color: #777
    position: absolute
    right: 6px
  > input + div
    bottom: 12px
  > textarea ~ div
    bottom: 16px

#want_teaser:not(:checked) ~ #service_teaser_body
  display: none

#want_teaser:not(:checked) ~ #project_teaser_body
  display: none
