.index_table
  width: 100%
  thead, .f_head
    background-color: rgba(170, 180, 200, 0.1)
    font-weight: bold
    letter-spacing: 0.05em
    text-transform: uppercase
    font-size: 11px
  th, .f_th
    white-space: nowrap
    background: #f7f8f9
    text-align: left
    border-bottom: 1px solid #dcdee3
    border-right: 1px solid #dcdee3
    font-size: 11px
    text-transform: uppercase
    font-weight: 500
    color: #8c96aa
    letter-spacing: 0.05em
    padding: 0 14px
    border-bottom: 0 !important
    border-top: 0 !important
    line-height: 40px
    max-height: 40px
    height: 40px
    &:last-of-type
      border-right: none
  tbody, .f_tbody
    tr, .f_tr
      height: 50px
    td, .f_td
      padding: 1px 14px
      line-height: 50px
      border-top: 1px solid rgba(170, 180, 200, 0.2)
      box-sizing: border-box
      font-size: 13px
      color: #3d4d5f
  .narrow_column
    width: 1px

  .feature_column
    width: 40%

  .small_image_thumbnail
    width: 40px
    overflow: hidden
    border-radius: 3px
    display: inline-block
    vertical-align: middle
    margin-right: 20px
    img
      display: block