.tabs_container
  padding: 0 20px
  input[type='radio'].tab_controller
    display: none
    @for $i from 1 through 10
      &:nth-child(#{$i}):checked ~
        .tab_heads_container
          label:nth-child(#{$i})
            border-bottom: 2px solid $primary_color
            color: black
        .tab_panels_container
          .tab_panel:nth-child(#{$i})
            display: block

  .tab_panel
    display: none

.tab_heads_container
  border-bottom: 1px solid #d1d5d7
  label
    display: inline-block
    padding: 28px 0 16px
    margin: 0 10px
    background: white
    cursor: pointer
    font-weight: 400
    text-transform: none
    color: #999
    font-size: 14px
    transition: color 0.3s

.tab_panels_container
  background: white
  padding: 24px 6px
  box-shadow: inset 4px 0px 5px -6px
