
$error: #d02f2f

$primary_color:        #29B6F6
$dark_primary_color:   darken($primary_color, 10%)
$light_primary_color:  lighten($primary_color, 10%)
$primary_text_color:   #FFFFFF
$accent_color: #ff3335
$primary-text-color: #242424
$secondary_text_color: #757575
$divider_color:        #BDBDBD


$card_box_shadow: 0 2px 4px rgba(0,0,0,0.1)


@mixin user-select($value)
  -webkit-user-select: $value
  -moz-user-select: $value
  -ms-user-select: $value
  user-select: $value

