@import select2
@import normalize
@import flex_mixins
@import font-awesome
@import trumbowyg
@import sweetalert

@import variables

@import core
@import forms
@import notifications
@import tables
@import tabs
@import categories

html.no_selection
  +user-select(none)

#page_wrapper
  +flexbox
  min-height: calc(100vh - 64px)
  min-width: 1024px
  transition: min-height 0.2s

.notification_present #page_wrapper
  min-height: calc(100vh - 40px)


#nav_bar
  background-color: $dark_primary_color
  height: 52px
  line-height: 52px
  padding: 0 30px
  position: relative
  color: rgba(255, 255, 255, 0.7)
  font-weight: 600
  overflow: hidden
  .navigation_crumbs
    float: left
  a
    color: white
    text-decoration: none
    margin: 0 5px
    &.active
      font-weight: bold
  .fa
    font-size: 11px
    margin: 0 7px 0 5px
  .right_buttons
    float: right

#title_bar
  height: 64px
  background: #303538
  padding: 0 30px
  box-sizing: border-box
  color: white
  line-height: 64px
  .app_logo
    background-image: image_url('c/logo.png')
    float: left
    width: 240px
    height: 44px
    background-size: 100%
    background-position: 0 50%
    margin-top: 10px
    background-repeat: no-repeat
  h1
    font-weight: 100
    text-transform: uppercase
    margin: 0
    color: white
    font-size: 24px

.user
  position: absolute
  top: 0
  right: 30px
  color: rgba(255,255,255,0.7)
  a
    color: white

#sidebar
  +flex(0 0 240px)
  background-color: $primary_color
  position: relative
  .sidebar_section
    border-top: solid 1px $light_primary_color
    color: #fff
    padding: 10px 20px
    text-align: right
    box-sizing: border-box
    text-transform: uppercase
    .fa
      margin-left: 10px
      font-size: 16px
  .sidebar_bottom
    position: absolute
    text-align: center
    width: 100%
    padding: 20px 30px 30px 20px
    bottom: 0
    box-sizing: border-box
    a
      font-size: 2em
  h4
    color: rgba(255,255,255,0.6)
    font-size: 12px
    margin: 5px 0
    border-right: solid 4px transparent
    font-weight: normal
    font-weight: 700
  a
    border-right: solid 4px transparent
    color: white
    display: block
    font-size: 14px
    line-height: 30px
    text-decoration: none

#page
  +flex(1)
  min-height: calc(100vh - 126px)
  #page_inner
    +flexbox
  #main_panel
    +flex(1)
    margin: 0 auto
    padding: 30px
    box-sizing: border-box
    position: relative
    min-height: calc(100vh - 116px)
  #quick_edit_panel
    +flex(0)
    transition: 0.4s
    padding: 30px 0
    background: white
    box-shadow: 0 0 5px rgba(0,0,0,0.3)
    min-height: calc(100vh - 176px)
    position: absolute
    right: 0
    transform: translateX(100%)
    &.active
      min-width: 300px
      padding: 30px
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.1)
      border-left: 1px solid #ddd
      transform: translateX(0)
    #main_form
      border: none
      #summary_form_panel
        padding: 0
        border: none

#active_panel_overlay
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  background: black
  opacity: 0.5
  transition: 0.3s
  &.entrance
    opacity: 0

.panel
  margin-bottom: 17px
  background-color: #ffffff
  border: 1px solid rgba(170, 180, 200, 0.5)
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05)
  border-radius: 3px

#page_information
  min-height: 60px
  h1
    margin: 0
    font-size: 1.4rem
    color: $secondary_text_color
    font-weight: 200
    display: inline-block
    vertical-align: middle
    margin-right: 20px
  .search_form
    margin-left: auto
    width: 50%
    display: inline-block
  .action_links
    display: inline-block
    vertical-align: middle
    a
      background-color: $accent_color
      font-size: 0.75rem
      display: inline-block
      color: white
      text-transform: uppercase
      vertical-align: middle
      padding: 0 10px
      line-height: 34px
      border-radius: 3px
      text-align: center
      font-weight: 600
      box-sizing: border-box
  .explainer
    clear: both
    color: #8a8a8a
    font-style: italic
    max-width: 700px

#login_page_wrapper
  background-color: $primary_color
  padding-top: 150px
  min-height: 100vh

#login_page_form
  max-width: 500px
  margin: 0 auto
  padding: 30px
  box-sizing: border-box

.devise_form_page
  color: white
  h2, input
    color: inherit
  label
    color: rgba(white,0.5)
  input
    background: none
    border: none
    border-bottom: 2px solid white
  input[type='checkbox']
    border: 1px solid rgba(white, 0.6)
  input[type='submit']
    background-color: black
    width: 100px
    margin-top: 10px
    border-bottom: none



div.columns
  +flexbox
  +align-items(center)
  background: white

  .sort_handle
    width: 40px
    +flex-shrink(0)
    text-align: center
  .column--2
    +flex(50)

.ui-sortable-helper
  box-shadow: 0 1px 1px 1px rgba(0,0,0,0.3)

#enquiry_display
  padding: 20px

.enquiry_field
  margin-bottom: 10px
  p
    margin-top: 0
