= link_to 'Pages', cd2_cms.pages_path
= link_to 'Services', cd2_cms.services_path
= link_to 'Projects', cd2_cms.projects_path
= link_to 'Testimonials', cd2_cms.testimonials_path
= link_to 'Blogs', cd2_cms.blogs_path