.reorderable
  = f.fields_for :images, f.object.images.sort_by(&:weight) do |f|
    .fields_for.columns{class: ('not_persisted' if f.object.image_cache.present?)}
      = f.hidden_field :image_cache
      = f.hidden_field :weight, class: 'order_field'
      .sort_handle= fa_icon('ellipsis-v')

      .column.column--2
        .image_preview
          = image_tag f.object.image.preview
      .column.column--2
        .field
          = f.label :alt
          = f.text_field :alt
        .field
          = f.label :caption
          = f.text_field :caption
        .field
          = f.label :featured_image
          = f.check_box :featured_image
        - if @object.class.included_modules.include? Cd2Cms::Teaseable
          .field
            = f.label :teaser_image
            = f.check_box :teaser_image
        .field
          = f.label :_destroy, 'Delete Image?'
          = f.check_box :_destroy, class: '_destroy'

= f.label :new_images
= f.file_field :new_images, multiple: true, data: {auto_submit: :upload}
= button_tag 'Upload', name: :commit, value: :upload
