- if @index_path
  = link_to "All #{controller_name.humanize.humanize}", @index_path

.right_buttons
  - if @new_path
    = link_to "+ Create #{controller_name.humanize.humanize.singularize}", @new_path
