= f.fields_for :page_info do |f|
  .field
    = f.label :title, 'Page Title'
    = f.text_field :title, data: {length_min: 0, length_max: 64}
  .field
    = f.label :url_alias
    = f.text_field :url_alias
  .field
    = f.label :meta_description
    = f.text_area :meta_description, data: {length_min: 0, length_max: 160}
