= sidebar_section do
  = link_to raw("View Site #{fa_icon('home')}"), main_app.root_path

.sidebar_section
  %h4 Content
  = render 'content_menu'

.sidebar_section
  %h4 Reports
  = link_to 'Enquiries', cd2_cms.enquiries_path

- if is_cd2admin?
  .sidebar_section
    %h4 Structure
    = link_to_nil 'Menus'

.sidebar_section
  %h4 Administration
  = link_to 'Users', cd2_cms.users_path
  = link_to 'Settings', cd2_cms.settings_path
