= form_tag({action: :destroy}, method: :delete) do
  %h2 Are you sure you want to delete this #{controller_name.humanize.singularize.downcase}?
  %p
    = submit_tag "delete"
    or 
    = link_to "cancel", action: :index
