#page_information
  %h1= pluralize(@objects.count, controller_name.humanize.singularize)
  - if @search_param
    .search_form
      = search_form_for @q do |f|
        = f.search_field "#{@search_param}_cont", placeholder: "Search for a #{controller_name.humanize.singularize}"
        .hidden
          = f.submit :search

.panel
  %table.index_table{class: ('sortable_table' if @sortable) }
    %thead
      %tr
        - if @sortable
          %td.icon_column
        = render 'index_head'

    %tbody{'data-sort' => "#{@sortable}"}
      = render(partial: 'index_row', collection: @objects, as: :object) || render('no_results')
