body
  font-family: "Proxima Nova", "proxima-nova", Sans-Serif
  font-size: 87.5%
  -webkit-font-smoothing: antialiased

a
  color: $primary
  text-decoration: none
  a:hover
    text-decoration: underline
img
  max-width: 100%

.hidden
  display: none