input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select,
.chosen-container-single .chosen-single
  box-sizing: border-box
  position: relative
  background-color: #fff
  padding: 11px
  line-height: 22px
  height: 40px
  width: 100%
  color: #3e3e3e
  border: 1px solid #bbb
  margin-bottom: 10px
  font-size: 0.875rem
  border-radius: 2px
  &:focus
    outline: none

.chosen-container-single .chosen-single
  border-radius: 0

textarea
  height: auto

label
  font-weight: 600
  font-size: 0.875rem
  line-height: 1.3rem

input[type="submit"], .delete_button
  background-color: $primary
  font-size: 0.75rem
  display: inline-block
  color: white
  text-transform: uppercase
  vertical-align: middle
  padding: 0 10px
  line-height: 34px
  border-radius: 3px
  text-align: center
  font-weight: 600
  border: 3px solid $primary
  box-sizing: border-box
  &[disabled="disabled"]
    opacity: 0.6

.delete_button
  color: $primary
  border: 3px solid $primary
  box-sizing: border-box
  background-color: white

.field_description
  font-size: 0.8rem
  font-style: italic
  position: relative
  bottom: 3px
  margin-bottom: 10px

#admin_form
  box-shadow: 0 2px 10px rgba(0,0,0,0.23)
  width: 100%
  box-sizing: border-box
  padding: 30px
  background: white
  &.narrow_form
    max-width: 550px

.secondary_form_link
  float: right
  color: #666
  font-size: 0.875rem

.checked_toggle_hide:checked ~ .field
  display: none

.checked_toggle_hide ~ .field
  display: block

.colorpicker
  width: 60px
  height: 60px

.split_form
  +flexbox

.split_form_left
  +flex(2)
  padding-right: 15px


.split_form_right
  +flex(1)
  padding-left: 15px
  img
    width: 120px

#login_form
  width: 100%
  padding: 20px
  box-sizing: border-box
  background: white
  border-radius: 5px
  box-shadow: 0 2px 10px rgba(0,0,0,0.23)
  max-width: 600px
  margin: 40px auto

  h1
    margin-top: 0
    font-size: 1.5rem
    color: $primary

.inline_field
  width: 50%
  display: inline-block
  vertical-align: middle

.inline_field.textarea_inline
  height: 50px

.inline_field + .actions
  display: inline-block
  vertical-align: middle

.inline_field.textarea_inline + .actions
  vertical-align: top

.actions
  margin-bottom: 10px

td input[type="text"]
  height: 36px
  margin: 0
  background-color: #FFF
  border: 1px solid #bbb

.table_form
  padding: 0
  .even_split_container
    margin: 0 1px
  input, .cancel_button
    height: 36px
    line-height: 36px
    border: 1px solid #bbb!important
    width: 100%

.cancel_button
  border: 0
  background-color: #383838
  font-size: 0.75rem
  display: inline-block
  color: white
  text-transform: uppercase
  letter-spacing: 1px
  text-align: center
  box-sizing: border-box
  padding: 8px
  float: right

.compact_form, .inline_field, .inline_field + .actions
  input
    height: 30px
    line-height: 30px
    margin-bottom: 0
    &[type="submit"]
      font-size: 0.8rem
      letter-spacing: 0

.form_with_text span
  display: block
  margin-bottom: 15px
  font-size: 0.875rem

.check_box_field
  margin-bottom: 10px

.field_group
  margin-bottom: 30px
  border: 1px solid #ddd
  padding: 20px
  box-sizing: border-box
  h2
    font-size: 1.25rem
    text-transform: uppercase
    color: $primary

.input_cell
  padding: 0
  height: 35px
  border: 2px solid #ABABAB
  input[type="text"]
    display: block
    border: 0

.field_with_errors
  input
    border: 1px solid $error!important

input[type=checkbox]
  background: white
  border: 1px solid #bbb
  padding: 3px
  -webkit-appearance: initial
  height: 20px
  width: 20px
  box-sizing: border-box
  vertical-align: middle
  border-radius: 5px
  outline: none
  margin: 4px 0

  &:checked
    border: 2px solid $primary
    &:after
      content: '\f00c'
      font-family: FontAwesome
      color: $primary
      margin-top: -8px
      margin-left: -3px
      display: block
      font-size: 24px
      -webkit-text-stroke: 2px white
      position: absolute
      height: 0
      width: 0
  + label
    margin-left: 5px
label ~ input[type=checkbox]
  margin-left: 5px
